.venv/
__pycache__/
*.pyc
*.pyo
*.pyd

train_data/
train_data.zip
backups/
*.pt
*.tar
*.tar.gz
*.zip

tools/tectonic/
results/logs/
results/report_tables/
results/GNR638_Assignment2_Report*
results/GNR638_Assignment2_TechnicalStudy*

*.aux
*.log
*.out
*.toc

config.py.bak_tuned
GNR_638_Assignment_2.pdf
GNR638_Assignment2_report.pdf
GNR638_Assignment2_report.tex
